*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#ece5dd;
}

.app{
    height:100vh;
    display:flex;
    flex-direction:column;
}

header{
    background:#075e54;
    color:white;
    padding:18px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
}

#chat{
    flex:1;
    overflow-y:auto;
    padding:15px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.message{
    max-width:80%;
    padding:12px;
    border-radius:15px;
    line-height:1.4;
}

.user{
    background:#dcf8c6;
    align-self:flex-end;
}

.bot{
    background:white;
    align-self:flex-start;
}

.correction{
    background:#fff3cd;
    border-left:4px solid #ffc107;
    align-self:flex-start;
}

footer{
    display:flex;
    padding:10px;
    background:white;
    gap:10px;
}

input{
    flex:1;
    border:none;
    background:#f2f2f2;
    padding:14px;
    border-radius:25px;
    font-size:16px;
}

button{
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#25d366;
    color:white;
    font-size:20px;
}